@mixin content-alignment($prefix: '') {
    .#{$prefix}behaviour-align-left {
        text-align: left;
    }
    .#{$prefix}behaviour-align-center {
        text-align: center;
    }
    .#{$prefix}behaviour-align-right {
        text-align: right;
    }
}
