@mixin flex-basis($prefix: '') {
    .#{$prefix}flex-basis-20 {
        flex-basis: 20%;
    }

    .#{$prefix}flex-basis-25 {
        flex-basis: 25%;
    }

    .#{$prefix}flex-basis-33 {
        flex-basis: 33.3333%;
    }

    .#{$prefix}flex-basis-40 {
        flex-basis: 40%;
    }

    .#{$prefix}flex-basis-50 {
        flex-basis: 50%;
    }

    .#{$prefix}flex-basis-60 {
        flex-basis: 60%;
    }

    .#{$prefix}flex-basis-66 {
        flex-basis: 66.6666%;
    }

    .#{$prefix}flex-basis-75 {
        flex-basis: 75%;
    }

    .#{$prefix}flex-basis-100 {
        flex-basis: 100%;
    }
}
