@mixin flex-order($prefix: '') {
    .#{$prefix}order-first {
        order: -9999;
    }

    .#{$prefix}order-last {
        order: 9999;
    }

    .#{$prefix}order-none {
        order: 0;
    }
}
